@using ServiceCompany.DbStuff.Models.Enums
@model BaseViewModel

@{
    Layout = "_LayoutServiceCompany";
}

@section Style
{
    <link href="~/css/ServiceCompany.css" rel="stylesheet" />
    <link href="~/css/Styles.css" rel="stylesheet" />
}

<div>
    Здесь будут наши контакты
</div>
